In [2]:
from cassandra.cluster import Cluster
import pandas as pd

cluster = Cluster(['localhost'])
session = cluster.connect()

session.execute("""
    CREATE KEYSPACE IF NOT EXISTS sales_data
    WITH replication = {'class': 'SimpleStrategy', 'replication_factor': 1}
""")

session.set_keyspace('sales_data')

url = 'https://raw.githubusercontent.com/gchandra10/filestorage/main/sales_100.csv'
df = pd.read_csv(url)

df['Order Date'] = pd.to_datetime(df['Order Date'], format='%m/%d/%Y').dt.date
df['Ship Date'] = pd.to_datetime(df['Ship Date'], format='%m/%d/%Y').dt.date

session.execute('DROP TABLE IF EXISTS bronze_sales')

session.execute("""
    CREATE TABLE IF NOT EXISTS bronze_sales (
        region text,
        country text,
        item_type text,
        sales_channel text,
        order_priority text,
        order_date date,
        order_id int PRIMARY KEY,
        ship_date date,
        units_sold int,
        unit_price float,
        unit_cost float,
        total_revenue float,
        total_cost float,
        total_profit float
    )
""")

insert_bronze = session.prepare("""
    INSERT INTO bronze_sales (region, country, item_type, sales_channel, order_priority,
                              order_date, order_id, ship_date, units_sold, unit_price, unit_cost,
                              total_revenue, total_cost, total_profit)
    VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
""")

for _, row in df.iterrows():
    session.execute(insert_bronze, (
        row['Region'], row['Country'], row['Item Type'], row['Sales Channel'], row['Order Priority'],
        row['Order Date'], row['Order ID'], row['Ship Date'], row['UnitsSold'], row['UnitPrice'],
        row['UnitCost'], row['TotalRevenue'], row['TotalCost'], row['TotalProfit']
    ))

session.execute('DROP TABLE IF EXISTS silver_sales')

session.execute("""
    CREATE TABLE IF NOT EXISTS silver_sales (
        region text,
        country text,
        item_type text,
        sales_channel text,
        order_priority text,
        order_date date,
        order_id int PRIMARY KEY,
        ship_date date,
        units_sold int,
        unit_price float,
        unit_cost float,
        total_revenue float,
        total_cost float,
        total_profit float
    )
""")

insert_silver = session.prepare("""
    INSERT INTO silver_sales (region, country, item_type, sales_channel, order_priority,
                              order_date, order_id, ship_date, units_sold, unit_price, unit_cost,
                              total_revenue, total_cost, total_profit)
    VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
""")

for _, row in df.iterrows():
    session.execute(insert_silver, (
        row['Region'], row['Country'], row['Item Type'], row['Sales Channel'], row['Order Priority'],
        row['Order Date'], row['Order ID'], row['Ship Date'], row['UnitsSold'], row['UnitPrice'],
        row['UnitCost'], row['TotalRevenue'], row['TotalCost'], row['TotalProfit']
    ))

session.execute("""
    CREATE TABLE IF NOT EXISTS gold_sales_region (
        region text PRIMARY KEY,
        total_sales float
    )
""")

region_sales = df.groupby('Region')['TotalRevenue'].sum()

for region, total_sales in region_sales.items():
    session.execute("""
        INSERT INTO gold_sales_region (region, total_sales)
        VALUES (%s, %s)
    """, (region, total_sales))

session.execute("""
    CREATE TABLE IF NOT EXISTS gold_sales_country (
        country text PRIMARY KEY,
        total_sales float
    )
""")

country_sales = df.groupby('Country')['TotalRevenue'].sum()

for country, total_sales in country_sales.items():
    session.execute("""
        INSERT INTO gold_sales_country (country, total_sales)
        VALUES (%s, %s)
    """, (country, total_sales))

session.execute("""
    CREATE TABLE IF NOT EXISTS gold_sales_item_type (
        item_type text PRIMARY KEY,
        total_sales float
    )
""")

item_sales = df.groupby('Item Type')['TotalRevenue'].sum()

for item_type, total_sales in item_sales.items():
    session.execute("""
        INSERT INTO gold_sales_item_type (item_type, total_sales)
        VALUES (%s, %s)
    """, (item_type, total_sales))

rows = session.execute('SELECT * FROM gold_sales_region')
for row in rows:
    print(row)

rows = session.execute('SELECT * FROM gold_sales_country')
for row in rows:
    print(row)

rows = session.execute('SELECT * FROM gold_sales_item_type')
for row in rows:
    print(row)

Row(region='Australia and Oceania', total_sales=10711258.0)
Row(region='Europe', total_sales=34964748.0)
Row(region='Middle East and North Africa', total_sales=24765128.0)
Row(region='Central America and the Caribbean', total_sales=17570836.0)
Row(region='Asia', total_sales=28840812.0)
Row(region='Sub-Saharan Africa', total_sales=24225438.0)
Row(region='North America', total_sales=3611757.5)
Row(country='Malaysia', total_sales=434357.3125)
Row(country='Israel', total_sales=223442.046875)
Row(country='Serbia', total_sales=802989.4375)
Row(country='Djibouti', total_sales=61415.359375)
Row(country='Egypt', total_sales=130261.7578125)
Row(country='Nicaragua', total_sales=5944506.0)
Row(country='Romania', total_sales=1726589.375)
Row(country='Sao Tome and Principe', total_sales=301612.8125)
Row(country='Liberia', total_sales=337990.71875)
Row(country='Vanuatu', total_sales=1222089.25)
Row(country='Morocco', total_sales=503890.09375)
Row(country='Lebanon', total_sales=3699975.25)
Row(country='Madagascar', total_sales=339860.8125)
Row(country='Mali', total_sales=2884921.5)
Row(country='Togo', total_sales=2101183.25)
Row(country='Sri Lanka', total_sales=12866.0703125)
Row(country='Canada', total_sales=3263260.75)
Row(country='Vietnam', total_sales=652532.3125)
Row(country='Mauritius ', total_sales=603225.625)
Row(country='Tanzania', total_sales=3555764.5)
Row(country='Tunisia ', total_sales=1071140.0)
Row(country='Brunei', total_sales=868465.375)
Row(country='Seychelles ', total_sales=28327.650390625)
Row(country='Ghana', total_sales=1015025.8125)
Row(country='Turkmenistan', total_sales=3223939.5)
Row(country='Belgium', total_sales=231050.703125)
Row(country='Iceland', total_sales=628499.375)
Row(country='Sweden', total_sales=117913.25)
Row(country='Dominican Republic', total_sales=69946.71875)
Row(country='United Kingdom', total_sales=453813.59375)
Row(country='United States of America', total_sales=348496.71875)
Row(country='China', total_sales=3771157.0)
Row(country='Greece', total_sales=1784241.75)
Row(country='Democratic Republic of the Congo', total_sales=1297172.375)
Row(country='Switzerland', total_sales=3672173.25)
Row(country='South Africa', total_sales=14862.6904296875)
Row(country='Kazakhstan', total_sales=206288.15625)
Row(country='Papua New Guinea', total_sales=1145454.125)
Row(country='India', total_sales=816150.4375)
Row(country='Thailand', total_sales=1871246.0)
Row(country='Haiti', total_sales=1336282.875)
Row(country='Estonia', total_sales=6666661.5)
Row(country='Kuwait', total_sales=979683.8125)
Row(country='Czech Republic', total_sales=4003440.5)
Row(country='Dominica', total_sales=5006276.5)
Row(country='Nepal', total_sales=4006267.5)
Row(country='Taiwan', total_sales=2007920.125)
Row(country='Antigua and Barbuda ', total_sales=4100669.25)
Row(country='Algeria', total_sales=4227287.0)
Row(country='Uganda', total_sales=2673613.5)
Row(country='France', total_sales=2517397.5)
Row(country='Finland', total_sales=5552598.0)
Row(country='Monaco', total_sales=123797.046875)
Row(country='Indonesia', total_sales=1176911.625)
Row(country='Netherlands', total_sales=92245.7109375)
Row(country='Burundi', total_sales=167640.84375)
Row(country='South Korea', total_sales=3012716.5)
Row(country='The Gambia', total_sales=81161.671875)
Row(country='Pakistan', total_sales=4205821.5)
Row(country='United Arab Emirates', total_sales=6253569.5)
Row(country='Saint Lucia', total_sales=33410.73046875)
Row(country='Samoa ', total_sales=3780403.5)
Row(country='Rwanda', total_sales=56530.46875)
Row(country='Tonga', total_sales=1411953.625)
Row(country='New Zealand', total_sales=274640.59375)
Row(country='Solomon Islands', total_sales=2823440.75)
Row(country='Moldova ', total_sales=34856.87890625)
Row(country='Japan', total_sales=5608790.0)
Row(country='Belize', total_sales=288752.09375)
Row(country='Montenegro', total_sales=231345.765625)
Row(country='Slovakia', total_sales=188518.84375)
Row(country='The Bahamas', total_sales=790991.1875)
Row(country='Albania', total_sales=2140268.5)
Row(country='Zimbabwe', total_sales=6266594.0)
Row(country='Ethiopia', total_sales=289426.40625)
Row(country='Malawi', total_sales=2149107.75)
Row(country='Italy', total_sales=3996349.0)
Row(country='East Timor', total_sales=53276.30078125)
Row(country='Singapore', total_sales=1171204.125)
Row(country='Oman', total_sales=3470056.5)
Row(item_type='Household', total_sales=38519084.0)
Row(item_type='Office Supplies', total_sales=27880904.0)
Row(item_type='Vegetables', total_sales=1135114.125)
Row(item_type='Snacks', total_sales=2193642.75)
Row(item_type='Personal Care', total_sales=3191147.75)
Row(item_type='Meat', total_sales=21278866.0)
Row(item_type='Fruits', total_sales=615033.625)
Row(item_type='Beverages', total_sales=2145024.75)
Row(item_type='Cereal', total_sales=9416123.0)
Row(item_type='Cosmetics', total_sales=28727100.0)
Row(item_type='Baby Food', total_sales=5200564.0)
Row(item_type='Clothes', total_sales=4387373.5)